<!-- theme_detail.html -->
{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Théme: {{ theme.name }} | CLEEB</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/content.css' %}">
    <link rel="stylesheet" href="{% static 'css/topbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/card_grid.css' %}">

</head>
<body class="page">

    <!-- Header Topbar -->
    {% include 'core/topbar.html' %}

    <!-- Main Content Section -->
    <main class="main">
        <div class="content --article">
            <div class="content-title">{{ theme.name }}</div>

            <!-- Article that describes the theme -->
            <article class="content-article">
                {% if theme.cover_image %}
                    <img src="{{ theme.cover_image.url }}" alt="{{ title }} cover" class="content-article__cover">
                {% endif %}
                <div class="content-article__body">
                    {{ theme.description | safe }}
                </div>
            </article>

            <!-- Links to maps and articles related to the theme -->
            {% if has_maps or has_articles %}
                <article class="content-attachments">
                    <h3>Pour en savoir plus</h3>
                    <ul>
                    {% if has_maps %}
                        <li>
                            <span>Voir les <b>cartes</b> sur ce théme</span>
                            <a class="button" href="{% url 'interactive_maps_catalog' %}">
                                <img src="{% static 'assets/icons/navigate_next_FILL0_wght400_GRAD200_opsz24.svg' %}" alt="go to interactive maps index">
                            </a>
                        </li>
                    {% endif %}
                    {% if has_articles %}
                        <li>
                            <span>Voir les <b>articles</b> sur ce théme</span>
                            <a class="button" href="{% url 'article-index' %}?theme={{ theme.slug }}">
                                <img src="{% static 'assets/icons/navigate_next_FILL0_wght400_GRAD200_opsz24.svg' %}" alt="go to articles index">
                            </a>
                        </li>
                    {% endif %}
                    </ul>
                </article>
            {% endif %}
        </div>
    </main>

    <!-- Footer -->
    {% include 'core/footer.html' %}

</body>
</html>
