{% load static %}
{% load i18n %}
<footer class="footer">
    <ul class="footer-menu">
        <li><a href="https://lorraine.lesecologistes.fr">Les Écologistes - Lorraine</a></li>
        <li><a href="https://sauvonslaforetdemercy.org">Sauvons la Forêt de Mercy</a></li>
        <li><a href={% url 'contact:form' %}>{% trans "Contact us !" %}</a></li>
        <li><a href="{% url 'donnees-personnelles' %}">{% trans "Privacy policy" %}</a></li>
        <li><a href="{% url 'conditions-d-utilisation' %}">{%  trans "Terms of use" %}</a></li>
    </ul>
    <a href="https://lesecologistes.fr" class="footer-logo">
        <img src="{% static 'assets/images/logo/footer.svg' %}" alt="logo Les Écologistes">
    </a>
    <div class="footer-credits">
        <a class="footer-credits__link" href="{% url 'mentions-legales' %}" >{% trans "Legal notice" %}</a>
        <span class="footer-credits__text">&copy 2024 - Les Écologistes Lorraine - Groupe Local du Pays Messin</span>
        <div class="footer-credits__socials">
            <span>{% trans "Follow us !" %}</span>
            <a href="https://www.facebook.com/eelvmetz/"><img src="{% static 'assets/icons/facebook.svg' %}" alt="logo facebook"></a>
            <a href="https://twitter.com/EelvMetz"><img src="{% static 'assets/icons/twitterx.svg' %}" alt="logo twitter/x"></a>
            <a href="https://www.instagram.com/eelvmetz"><img src="{% static 'assets/icons/instagram.svg' %}" alt="logo instagram"></a>
        </div>
    </div>
</footer>
<footer class="mobile-footer">
    <button onclick="backToTop()" class="mobile-footer__totop" id="backToTopButton">
        <img src="{% static 'assets/icons/keyboard_arrow_up_FILL0_wght500_GRAD200_opsz24.svg' %}" alt="flèche vers le haut">
    </button>
    <ul class="mobile-footer__menu">
        <li><a href="https://lorraine.lesecologistes.fr">Les Écologistes - Lorraine</a></li>
        <li><a href="https://sauvonslaforetdemercy.org">Sauvons la Forêt de Mercy</a></li>
        <li><a href="{% url 'contact:form' %}">{% trans "Contact us !" %}</a></li>
        <li><a href="{% url 'donnees-personnelles' %}">{% trans "Privacy policy" %}</a></li>
        <li><a href="{% url 'conditions-d-utilisation' %}">{% trans "Terms of use" %}</a></li>
    </ul>
    <div class="mobile-footer__socials">
        <span>{% trans "Follow us !" %}</span>
        <a href="https://www.facebook.com/eelvmetz/"><img src="{% static 'assets/icons/facebook.svg' %}" alt="logo facebook"></a>
        <a href="https://twitter.com/EelvMetz"><img src="{% static 'assets/icons/twitterx.svg' %}" alt="logo twitter/x"></a>
        <a href="https://www.instagram.com/eelvmetz"><img src="{% static 'assets/icons/instagram.svg' %}" alt="logo instagram"></a>
    </div>
    <div class="mobile-footer__logo">
        <img src="{% static 'assets/images/logo/footer.svg' %}" alt="logo Les Écologistes">
    </div>
    <div class="mobile-footer__credits">
        <span>&copy 2024 - Les Écologistes Lorraine - Groupe Local du Pays Messin</span>
        <a href="{% url 'mentions-legales' %}">{% trans "Legal notice" %}</a>
    </div>
    <script>
        function backToTop() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
</footer>
