{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cartographie Militante - Home</title>

    <link rel="stylesheet" href="{%  static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/topbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

</head>
<body class="page">

    {% include 'core/topbar.html' %}

    <!-- Main Content Section -->
    <main class="main">
        <section id="hero">
            <div class="hero-container">
                <div class="info">
                    <h1>Cartographie Militante</h1>
                    <h2>Une cartographie des luttes environnementales et sociales sur l'eurométropole de Metz</h2>
                    <p>
                        Cette cartographie militante est un projet de cartographie des luttes environnementales et
                        sociales sur l'eurométropole de Metz. Elle a pour but de mettre en avant les luttes et les
                        alternatives qui se développent sur le territoire.
                    </p>
                    <a class="btn-white-large" href="#">Voir les cartes</a>
                </div>
            </div>
            <div class="hero-attributions">
                <span>
                    Photo by <a href="https://unsplash.com/@davidgrdm?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">David Grandmougin</a> on <a href="https://unsplash.com/photos/brown-concrete-building-near-body-of-water-during-daytime-36ZFw7HoVVE?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                </span>
            </div>
        </section>
    </main>

    <!-- Footer -->
    {% include 'core/footer.html' %}
</body>
</html>
