{% load static %}

<div class="nav-container">
    <div class="nav-logo">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/logo.png' %}" alt="logo" class="nav-logo-image">
        </a>
    </div>
    <nav>
        <ul>
            <li class="nav-list-item">
                <a href="#index-des-cartes" class="nav-link">Cartographie Militante</a>
            </li>
            <li class="nav-list-item">
                <a href="{% url 'themes_list' %}" class="nav-link">Thématiques de la cartographie</a>
            </li>
            <li class="nav-list-item">
                <a href="{% url 'organizations_list' %}" class="nav-link">Organes Milittants</a>
            </li>
            <li class="nav-list-item">
                <a href="#actus" class="nav-link">Actus</a>
            </li>
        </ul>
    </nav>
    <div class="nav-tools">
        <div class="nav-tools-item">
            <a href="#search" class="nav-tools-link">Recherche</a>
        </div>
        <div class="nav-tools-item">
            <a href="#map-index" class="nav-tools-link">Index des Cartes</a>
        </div>
    </div>
</div>