<!-- organizations_list.html -->
{% load static %}


<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Organismes Partenaires</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/topbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/card_list.css' %}">
</head>
<body class="page">
    <!-- Header Section -->
    <header class="header">
        <!-- Navigation Bar -->
        {% include 'core/topbar.html' %}
    </header>

    <!-- Main Content Section -->
    <main class="main">
        <div class="hero">
            <div class="hero-content">
                <div class="hero-title">
                    <div class="hero-title-text">
                        Organismes Partenaires: un travail collaboratif
                    </div>
                </div>
            </div>
        </div>

        <!-- Section block with the introduction to the organization's list -->
        <div class="container">
            <section class="section" id="introduction">
                <div class="text-block">
                    <p>
                        Nous sommes fiers de présenter cette carte interactive des actions militantes et d'éducation sur les
                        effets des décisions de la métropole de Metz concernant l'environnement.
                        Cette initiative collaborative a été rendue possible grâce à un partenariat dynamique avec plusieurs
                        associations engagées et des représentants de divers partis politiques soucieux de promouvoir la
                        protection de notre environnement. Ensemble, nous avons travaillé main dans la main pour rassembler
                        et cartographier les actions et initiatives qui visent à sensibiliser, éduquer et agir en faveur
                        d'un avenir plus durable pour la métropole de Metz. Cette carte représente ainsi l'effort collectif
                        et l'engagement commun envers la préservation de notre cadre de vie pour les générations futures.
                    </p>
                </div>
            </section>

            <!-- Section block with a list of organizations -->
            <section class="section" id="organizations-card-list">
                <h1 class="section-title">Groupes et Organisations:</h1>
                <div class="card-container">
                    <div class="card-row">
                        <!-- Render a list of organizations with cards -->
                        {% for organization in organizations %}
                            <div class="card-col">
                                <a class="org-card-link" href="{% url 'organization_detail' organization.slug %}">
                                    <div class="card org-card">
                                        <h1 class="org-card-title">{{ organization.name }}</h1>
                                        <div class="org-card-socials">
                                            {% if organization.contact %}
                                                <a class="org-card-social-link" href="mailto:{{ organization.contact }}" target="_blank">
                                                    <img src="{% static 'images/icons/social-media/email.svg' %}" alt="email" width="25px" height="25px">
                                                </a>
                                            {% endif %}
                                            {% if organization.website %}
                                                <a class="org-card-social-link" href="{{ organization.website }}" target="_blank">
                                                    <img src="{% static 'images/icons/social-media/website.svg' %}" alt="website" width="25px" height="25px">
                                                </a>
                                            {% endif %}
                                            {% if organization.facebook %}
                                                <a class="org-card-social-link" href="{{ organization.facebook }}" target="_blank">
                                                    <img src="{% static 'images/icons/social-media/facebook.svg' %}" alt="facebook" width="25px" height="25px">
                                                </a>
                                            {% endif %}
                                            {% if organization.instagram %}
                                                <a class="org-card-social-link" href="{{ organization.instagram }}" target="_blank">
                                                    <img src="{% static 'images/icons/social-media/instagram.svg' %}" alt="instagram" width="25px" height="25px">
                                                </a>
                                            {% endif %}
                                            {% if organization.twitter %}
                                                <a class="org-card-social-link" href="{{ organization.twitter }}" target="_blank">
                                                    <img src="{% static 'images/icons/social-media/twitter_x.svg' %}" alt="twitter" width="25px" height="25px">
                                                </a>
                                            {% endif %}
                                        </div>
                                        <img src="{{ organization.logo.url }}" alt="{{ organization.name }}">
                                    </div>
                                </a>
                            </div>
                            {% if forloop.counter|divisibleby:4 and not forloop.last %}
                                </div><div class="card-row">
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </main>

    <!-- Footer -->
    {% include 'core/footer.html' %}
</body>
</html>