<!-- organizations_list.html -->
{% load static %}


<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Organismes Partenaires</title>
    
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/topbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/organizations_list.css' %}">
</head>
<body class="page">
    <!-- Header Section -->
    <header class="header">
        <!-- Navigation Bar -->
        {% include 'core/topbar.html' %}
    </header>

    <!-- Main Content Section -->
    <main class="main">
        <!-- Section block with the introduction to the organizations list -->
        <section class="section-block">
            <div class="text-block">
                <h1>Groupes militants: un travail commun</h1>
                <p>
                    Nous sommes fiers de présenter cette carte interactive des actions militantes et d'éducation sur les
                    effets des décisions de la métropole de Metz concernant l'environnement.
                    Cette initiative collaborative a été rendue possible grâce à un partenariat dynamique avec plusieurs
                    associations engagées et des représentants de divers partis politiques soucieux de promouvoir la
                    protection de notre environnement. Ensemble, nous avons travaillé main dans la main pour rassembler
                    et cartographier les actions et initiatives qui visent à sensibiliser, éduquer et agir en faveur
                    d'un avenir plus durable pour la métropole de Metz. Cette carte représente ainsi l'effort collectif
                    et l'engagement commun envers la préservation de notre cadre de vie pour les générations futures.
                </p>
                <h1>Liste des groupes:</h1>
            </div>
        </section>

        <!-- Section block with a list of organizations -->
        <section class="section-block">
            <div class="org-card-container">
                <div class="org-card-row">
                    <!-- Render a list of organizations with cards -->
                    {% for organization in organizations %}
                        <div class="org-card-col">
                            <div class="org-card-item">
                                <div class="org-card-item-title">
                                    <h5>{{ organization.name }}</h5>
                                </div>

                                <div class="org-card-item-socials">
                                    {% if organization.contact %}
                                        <div class="org-card-item-social-link">
                                            <a href="mailto:{{ organization.contact }}" target="_blank">
                                                <img src="{% static 'images/email_logo.png' %}" alt="Email">
                                            </a>
                                        </div>
                                    {% endif %}
                                    {% if organization.website %}
                                        <div class="org-card-item-social-link">
                                            <a href="{{ organization.website }}" target="_blank">
                                                <img src="{% static 'images/website_logo.png' %}" alt="Website">
                                            </a>
                                        </div>
                                    {% endif %}
                                    {% if organization.facebook %}
                                        <div class="org-card-item-social-link">
                                            <a href="{{ organization.facebook }}" target="_blank">
                                                <img id="org-card-item-social-facebook" src="{% static 'images/icons/temp.svg' %}" alt="Facebook">
                                            </a>
                                        </div>
                                    {% endif %}
                                    {% if organization.instagram %}
                                        <div class="org-card-item-social-link">
                                            <a href="{{ organization.instagram }}" target="_blank">
                                                <img src="{% static 'images/instagram_logo.png' %}" alt="Instagram">
                                            </a>
                                        </div>
                                    {% endif %}
                                    {% if organization.twitter %}
                                        <div class="org-card-item-social-link">
                                            <a href="{{ organization.twitter }}" target="_blank">
                                                <img src="{% static 'images/twitter_logo.png' %}" alt="Twitter">
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="org-card-item-thumbnail">
                                    <img src="{{ organization.logo.url }}" alt="{{ organization.name }}">
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:4 and not forloop.last %}
                            </div><div class="org-card-row">
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    {% include 'core/footer.html' %}
</body>
</html>