<!-- resume.html -->
<!-- This template is used to render a resume page of an organization, author, or event. -->

{% load static %}


<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/topbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/resume.css' %}">
</head>
<body class="page">
    <!-- Header Section -->
    <header class="header">
        <!-- Navigation Bar -->
        {% include 'core/topbar.html' %}
    </header>

    <!-- Main Content Section -->
    <main class="resume">
        <div class="resume-splash">
            <h1>{{ title }}</h1>
            <div class="resume-splash-metadata">
                {% for social_link in social_links %}
                    {% if social_link.name == 'email' %}
                        <a class="resume-social-link" href="mailto:{{ organization.contact }}" target="_blank">
                            <img src="{% static 'images/icons/social-media/email.svg' %}" alt="email" width="25px" height="25px">
                        </a>
                    {% elif social_link.name == 'website' %}
                        <a class="resume-social-link" href="{{ organization.website }}" target="_blank">
                            <img src="{% static 'images/icons/social-media/website.svg' %}" alt="website" width="25px" height="25px">
                        </a>
                    {% elif social_link.name == 'facebook' %}
                        <a class="resume-social-link" href="{{ organization.facebook }}" target="_blank">
                            <img src="{% static 'images/icons/social-media/facebook.svg' %}" alt="facebook" width="25px" height="25px">
                        </a>
                    {% elif social_link.name == 'instagram' %}
                        <a class="resume-social-link" href="{{ organization.instagram }}" target="_blank">
                            <img src="{% static 'images/icons/social-media/instagram.svg' %}" alt="instagram" width="25px" height="25px">
                        </a>
                    {% elif social_link.name == 'twitter' %}
                        <a class="resume-social-link" href="{{ organization.twitter }}" target="_blank">
                            <img src="{% static 'images/icons/social-media/twitter_x.svg' %}" alt="twitter" width="25px" height="25px">
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <!-- Section block with the introduction to the organization's list -->
        <div class="resume-content">
            <div class="resume-content-header">
                <div class="resume-content-header-photo">
                    {% if photo %}
                        <img src="{{ photo.url }}" alt="{{ photo.alt }}" width="100%" height="auto">
                    {% else %}
                        <img src="{% static 'images/icons/placeholder.svg' %}" alt="placeholder" width="100%" height="auto">
                    {% endif %}
                </div>
                <div class="resume-content-header-infos">
                    {% if categories and categories|length > 0 %}
                        <div class="resume-header-categories">
                            {% for category in categories %}
                                <span class="resume-header-category">{{ category }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <h1>{{ title }}</h1>
                    <div class="resume-content-header-metadata">
                        {% for social_link in social_links %}
                            {% if social_link.name == 'email' %}
                                <a class="resume-social-link" href="mailto:{{ organization.contact }}" target="_blank">
                                    <img src="{% static 'images/icons/social-media/email.svg' %}" alt="email">
                                </a>
                            {% elif  social_link.name == 'website' %}
                                <a class="resume-social-link" href="{{ organization.website }}" target="_blank">
                                    <img src="{% static 'images/icons/social-media/website.svg' %}" alt="website">
                                </a>
                            {% elif social_link.name == 'facebook' %}
                                <a class="resume-social-link" href="{{ organization.facebook }}" target="_blank">
                                    <img src="{% static 'images/icons/social-media/facebook.svg' %}" alt="facebook">
                                </a>
                            {% elif social_link.name == 'instagram' %}
                                <a class="resume-social-link" href="{{ organization.instagram }}" target="_blank">
                                    <img src="{% static 'images/icons/social-media/instagram.svg' %}" alt="instagram">
                                </a>
                            {% elif social_link.name == 'twitter' %}
                                <a class="resume-social-link" href="{{ organization.twitter }}" target="_blank">
                                    <img src="{% static 'images/icons/social-media/twitter_x.svg' %}" alt="twitter">
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="resume-content-body">
                {{ body|safe }}
            </div>
    </main>

    <!-- Footer -->
    {% include 'core/footer.html' %}
</body>
</html>