{% load static %}
<!-- themes_list.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Themes List - Cartographie Militante</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/card_list.css' %}">
</head>
<body class="page">
    <!-- Header Section -->
    <header class="header">
        <!-- Navigation Bar -->
        {% include 'core/navbar.html' %}
    </header>

    <!-- Main Content Section -->
    <main class="main">
                <div class="themes-container">
        <section class="section-block">
            <div class="text-block">
                <h1>Thématiques de la Cartographie: pluralité des luttes</h1>
                <p>
                    La cartographie militante est un projet qui vise à mettre en lumière les luttes et les mobilisations
                    qui ont lieu sur le territoire de la Métropole de Metz.
                    Ces luttes sont nombreuses et variées, et nous avons choisie les organiser en thématiques afin de
                    faciliter la navigation sur la carte. Chaque thématique regroupe des luttes qui ont des points
                    communs, mais qui sont aussi très différentes les unes des autres. Nous avons choisi de ne pas
                    hiérarchiser les thématiques, car nous considérons que toutes les luttes sont importantes et
                    qu’elles méritent d’être mises en avant.
                </p>
            </div>
        </section>

        <section class="section-block">
            <div class="card-list-container">
                    <!-- Render a list of themes with cards linking to individual theme pages -->
                    {% for theme in themes %}
                        <div class="theme-card">
                            <img src="{{ theme.image.url }}" alt="{{ theme.name }}">
                            <h3>{{ theme.name }}</h3>
                            <p>{{ theme.description }}</p>
                            <a href="{% url 'theme_detail' theme.id %}">Explore {{ theme.name }}</a>
                        </div>
                        {% if forloop.counter|divisibleby:3 and not forloop.last %}
                            </div><div class="themes-container">
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    {% include 'core/footer.html' %}
</body>
</html>
