{% load static %}

<header class="topbar">

    <div class="topbar-logo">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/logo.png' %}" alt="logo" class="nav-logo-image">
        </a>
    </div>

    <nav class="topbar-nav">
        <ul>
            <li>
                <a href="#index-des-cartes" class="nav-link">
                    <h4>Index des cartes</h4>
                </a>
            </li>
            <li>
                <a href="{% url 'thematic_list' %}" class="nav-link">
                    <h4>Thématiques de la cartographie</h4>
                </a>
            </li>
            <li>
                <a href="{% url 'organizations_list' %}" class="nav-link">
                    <h4>Organisations participantes</h4>
                </a>
            </li>
        </ul>
    </nav>

    <div class="topbar-tools">
        <a href="#search">Placehold</a>
        <a href="#map-index">Placehold</a>
    </div>

</header>