{% load static %}
{% load i18n %}

<header class="topbar">
    <a class="topbar-logo" href="{% url 'home' %}">
        <img src="{% static 'assets/images/logo/topbar.svg' %}" alt="logo" class="nav-logo-image">
    </a>
    <nav class="topbar-nav">
    <ul>
        <li><a href="{% url 'map-index' %}" class="nav-link"><h4>{% trans "Maps" %}</h4></a></li>
        <li><a href="{% url 'article-index' %}" class="nav-link"><h4>{% trans "Articles" %}</h4></a></li>
        <li><a href="{% url 'theme-index' %}" class="nav-link"><h4>{% trans "Thematic" %}</h4></a></li>
        <li><a href="{% url 'organizations_list' %}" class="nav-link"><h4>{% trans "Organizations" %}</h4></a>
        </li>
    </ul>
    </nav>
    <div class="topbar-tools">
        <a href="#">
            <span>{% trans "Search" %}</span>
            <img src="{% static 'assets/icons/search_black_24dp.svg' %}" alt="search">
        </a>
        <a href="{% url 'datasets-index' %}">
            <span>{% trans "Datasets" %}</span>
            <img src="{% static 'assets/icons/dataset_black_24dp.svg' %}" alt="dataset-catalog">
        </a>
    </div>
</header>
<header class="hamburger">
    <input class="checkbox" type="checkbox" name="" id=""/>
    <div class="hamburger-topbar">
        <a class="hamburger-logo" href="{% url 'home' %}">
            <img src="{% static 'assets/images/logo/topbar.svg' %}" alt="logo" class="nav-logo-image">
        </a>
        <div class="hamburger-button">
            <span class="hamburger-button__line" id="top"></span>
            <span class="hamburger-button__line" id="middle"></span>
            <span class="hamburger-button__line" id="bottom"></span>
        </div>
    </div>
    <nav class="hamburger-menu">
        <a class="hamburger-menu__item" href="{% url 'map-index' %}">{% trans "Maps" %}</a>
        <a class="hamburger-menu__item" href="{% url 'article-index' %}">{% trans "Articles" %}</a>
        <a class="hamburger-menu__item" href="{% url 'theme-index' %}">{% trans "Thematic" %}</a>
        <a class="hamburger-menu__item" href="{% url 'organizations_list' %}">{% trans "Organizations" %}</a>
        <a class="hamburger-menu__item" href="#">{% trans "Search" %}</a>
        <a class="hamburger-menu__item" href="{% url 'datasets-index' %}">{% trans "Datasets" %}</a>
    </nav>
</header>