/* base.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Poppins', sans-serif;*/
}

/* ================================================================================================================== */
/* Page                                                                                                               */
/* ================================================================================================================== */

body.page {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: var(--topbar-height);
    box-sizing: border-box;
    background-color: var(--pale-aqua);
}

/* ================================================================================================================== */
/* Header and main                                                                                                    */
/* ================================================================================================================== */

.header {
    position: relative;
    height: var(--topbar-height);
    overflow: hidden;
}

.main {
    position: relative;
    flex: 1 0 auto;
    width: 100%;
}

/* ================================================================================================================== */
/* Hero Section                                                                                                       */
/* ================================================================================================================== */

.hero {
    width: 100%;
    background-color: var(--eco-emerald);
    padding-top: 2%;
    overflow-y: clip;
}

.hero-content {
    max-width: 100%;
    margin-top: 2%;
    margin-left: max(15%, 10px);
    margin-right: max(15%, 10px);
    display: flex;
    flex-direction: column;
}

.hero-title {
    background-color: #ffffff;
    padding: 2% 40px;
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-direction: column;
    /* Box Shadow from https://getcssscan.com/css-box-shadow-examples (#22) */
    box-shadow: 0 6px 12px -2px rgba(50, 50, 93, 0.25), 0 3px 7px -3px rgba(0, 0, 0, 0.3);
}

.hero-title-text {
    font-family: sans-serif;
    font-size: 76px;
    font-weight: 600;
    text-align: left;
    padding-bottom: 0.3em;
}

.hero-title-metadata {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hero-title-metadata-date {
    display: flex;
    color: #166a5d;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-right: 10px;
}

.hero-title-metadata-date span {
    margin-right: 10px;
}

.hero-title-metadata-authors {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-left: 5px;
    margin-right: unset;
}
.hero-title-metadata-authors a {
    color: #166a5d;
    background-color: #e8f0ef;
    text-decoration: none;
    margin-left: 5px;
    padding-left: 5px;
    border-radius: 4px 14px 14px 4px;
    transition: all .3s;
}

.hero-title-metadata-authors a:hover {
    color: #e8f0ef;
    background-color: #166a5d;
}

.hero-title-metadata-authors img {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    margin-bottom: 1px;
    margin-left: 5px;
    vertical-align: middle;
}


/* ================================================================================================================== */
/* blocks                                                                                                             */
/* ================================================================================================================== */

.container {
    min-height: 600px;
    background-color: #ffffff;
    margin-left: max(15%, 10px);
    margin-right: max(15%, 10px);
    margin-bottom: 150px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 0 0 15px 15px;
    /* Box Shadow from https://getcssscan.com/css-box-shadow-examples (#22) */
    box-shadow: 0 6px 12px -2px rgba(50, 50, 93, 0.25), 0 3px 7px -3px rgba(0, 0, 0, 0.3);
}


/* ================================================================================================================== */
/* Basic Blocks
/* ================================================================================================================== */

/* Content Block */
.section {
    padding-bottom: 10px;
    flex-direction: column;
    display: flex;
    border-bottom: 1px solid grey;
}

.section-title {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: #166a5d;
    text-transform: uppercase;
    margin-bottom: 1em;
    padding-top: 1em;
}

/* Text Block */

.text-block {

    padding-bottom: 1em;

    /* Adjust the fonts */
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: justify; /* Align the text */
    line-height: 1.5; /* Adjust line height */
    letter-spacing: 1px; /* Adjust space between letters */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); /* Add text shadow */
}

.text-block h1 {

    font-size: 20px;
    font-weight: 800;
    color: #166a5d;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-top: 1em;
}

.text-block h2 {
    font-size: 18px;
    font-weight: 600;
    color: #166a5d;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-top: 1em;
}

.text-block p {
    margin-bottom: 10px;
}

.text-block b {
    font-weight: 600;
}

.text-block ul {
    background-color: var(--eco-emerald);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.text-block ul li {
    margin-bottom: 5px;
    list-style-type: circle;
    list-style-position: inside;
    color: #ffffff;
}



