/* card_list.css
A CSS file for the card list template.
A card list is a list of cards, each of which contains an image, a title, and a description.
They are typically used display a list of items to select, such as a list of organizations or a list of themes.
The card are arranged in a grid, with each row containing a maximum of X cards, where X is the number of cards that can fit in a row.
*/

.card-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

/* Container for the thematic items on a row */
.card-row {
    display: flex;
}
.card-col {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
}
.card-col a {
    text-decoration: none;
}

@media (min-width: 1280px) {
    .card-col {
        flex: 0 0 33.3333333%;
        max-width: 33.3333333%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* Individual Theme Item */
.card {
    position: relative;
    margin: 0 0 40px;
    border-radius: 20px;
    background: var(--eco-emerald);
    color: white;
    cursor: pointer;
    transition: all .8s;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
@media (min-width:1280px) {
    .card {
        height: calc(100% - 40px);
    }
}

/* Responsive adjustment for smaller screens */
@media screen and (max-width: 768px) {
    .card {
        width: calc(50% - 20px); /* Adjust card width for smaller screens */
    }
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}


/* ================================================================================================================== */
/* Style for the Thematic cards                                                                                       */
/* ================================================================================================================== */

.card.thematic-card {
    padding: 40px;
    min-height: 300px;
    background: /* background is defined with the variable --back-img */
        linear-gradient(rgba(0,0,0,0.445),rgba(0,0,0,0.1)),
        var(--back-img) no-repeat center / cover;

    /* Fonts & colors */
    text-align: left;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.card.thematic-card h5 {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1.8rem;
    max-width: 100%;
}

.card.thematic-card p {
    font-size: 1rem;
    line-height: 1.618rem;
    font-weight: 400;
    max-width: 90%;
}

/* ================================================================================================================== */
/* Style for the Organization cards
/* ================================================================================================================== */

.card.org-card {
    overflow: hidden;
    max-height: 300px;
    /* Fonts & colors */
    font-family: sans-serif;
    text-align: left;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    padding-bottom: 20px;
}

.card.org-card h5 {
    display: block;
    margin: 20px;
    text-align: center;
    color: #ffff;
}

.card.org-card img {
    height: 50%;
    width: 100%;
    object-fit: contain;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #ffff;
}

.card.org-card .card-socials {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.card.org-card .card-socials a {
    text-decoration: none;
    color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
    transition: all .3s
}

.card.org-card .card-socials a>img {
    margin: auto;
    width: 35px;
    height: auto;
    background-color: transparent;
    filter: invert(1); /* SVG to white */
}


/* ================================================================================================================== */
/* Style for the Map Cards
/* ================================================================================================================== */

.card.map-card {
    overflow: hidden;
    /* Fonts & colors */
    text-align: left;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.card.map-card img {
    height: auto;
    width: 100%;
    object-fit: cover;
}

.card.map-card .card-content {
    padding: 15px 25px 33px;
    display:flex;
    flex-direction: column;
}


.card.map-card .card-content .card-metadata {
    font-size: 12px;
    display:flex;
    width: 100%;
    padding-bottom: 1em;
}

.card.map-card .card-content .card-metadata .metadata-divider {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.card.map-card .card-content .card-metadata .metadata-authors {
    display: flex;
    align-items: center;
}

.card.map-card .card-content .card-metadata .metadata-authors a {
    text-decoration: none;
    color:#fff;
}

.card.map-card .card-content .card-metadata .metadata-authors img {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    margin-bottom: 1px;
    vertical-align: middle;
}

.card.map-card .card-content .card-metadata .metadata-authors a:hover {
    text-decoration: underline;
}
