/* content_header.css */

.content-header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 2%;
    background-color: var(--eco-emerald);
    overflow-y: clip;
}

.content-header .header-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--content-max-width);
    margin-top: 20px;
}

.content-header .header-themes {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    max-width: 100%;
    margin-bottom: 10px;
}

.content-header .header-themes a {
    border-radius: 14px;
    background-color: white;
    padding: 1rem;
    margin-right: 1rem;
    text-align: center;
    color: var(--verdant-green);

    /* Font adjustment */
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    transition: all .3s;

    /* Box Shadow from https://getcssscan.com/css-box-shadow-examples (#22) */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.content-header .header-themes a:hover {
    color: white;
    background-color: var(--verdant-green);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.content-header .header-content {
    background-color: #ffffff;
    padding: 2% 40px;
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-direction: column;
    /* Box Shadow from https://getcssscan.com/css-box-shadow-examples (#22) */
    box-shadow: 0 6px 12px -2px rgba(50, 50, 93, 0.25), 0 3px 7px -3px rgba(0, 0, 0, 0.3);
}

.content-header .header-content h1 {
    padding: 0;
    margin: 0;
}

.content-header .header-metadata {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-top: 2rem;
}

.content-header .header-metadata .metadata-dates {
    display: flex;
    color: #166a5d;

    /* Font adjustment */
    font-size: 1rem;
    font-weight: 400;
    margin-right: 10px;
}

.content-header .header-metadata .metadata-dates span {
    margin-right: 10px;
}

.content-header .header-metadata .metadata-authors {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-left: 5px;
    margin-right: unset;
}
.content-header .header-metadata .metadata-authors a {
    color: #166a5d;
    background-color: #e8f0ef;
    text-decoration: none;
    margin-left: 5px;
    padding-left: 5px;
    border-radius: 4px 14px 14px 4px;
    transition: all .3s;
}

.content-header .header-metadata .metadata-authors a:hover {
    color: #e8f0ef;
    background-color: #166a5d;
}

.content-header .header-metadata .metadata-authors a>img {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    margin-bottom: 1px;
    margin-left: 5px;
    vertical-align: middle;
}