/* Site footer's CSS */


.footer {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 100%;
    min-height: var(--footer-height);
}

/* ================================================================================================================== */
/* Footer menu
/* ================================================================================================================== */

.footer-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    column-gap: 200px;

    /* Takes the footer's height so that, if the content is too short, the footer the menu will be at the bottom */
    height: var(--footer-height);
    padding: 40px calc(var(--content-gutter) * 2);
    margin: 0;

    background: var(--yellow-background);
    list-style: none;
}

.footer-menu li {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 20px;
    border-left: 1px solid var(--verdant-green);
}

.footer-menu li a {
    color: var(--verdant-green);
    font-size: var(--fs-small);
    line-height: var(--lh-small);
}

.footer-menu li a:hover {
    cursor: pointer ;
}

/* ================================================================================================================== */
/* Footer logo
/* ================================================================================================================== */

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: var(--content-gutter);
    padding-bottom: var(--content-gutter);

    background-color: var(--eco-emerald);
}

.footer-logo > img {
    transition: all 0.3s ease-in-out;
}

/* Cast `verdant-green` transparent filter to the logo on hover */
.footer-logo:hover > img {
    opacity: 0.8;
    cursor: pointer;
}

/* ================================================================================================================== */
/* Footer credits
/* ================================================================================================================== */

.footer-credits {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    min-height: var(--footer-height);

    padding: 0 calc(var(--content-gutter) * 3);

    background-color: var(--eco-emerald);

    font-size: var(--fs-small);
    line-height: var(--lh-small);
}

.footer-credits .footer-credits__link {
    color: white;
}

.footer-credits .footer-credits__link:hover {
    cursor: pointer;
}


.footer-credits .footer-credits__text {
    color: white;
}

.footer-credits .footer-credits__socials {
    display: flex;
    align-items: center;
    gap: .25rem;

    color: white;
}

/* ================================================================================================================== */
/* Mobile footer
/* ================================================================================================================== */

.mobile-footer {
    position: relative;
    display: none;
    flex-direction: column;

    width: 100%;
    min-height: var(--footer-height);

    /*border-top: 2px solid var(--verdant-green);*/
}

.mobile-footer * {
    margin: 0;
}

.mobile-footer__totop {
    position: absolute;
    display: block;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    border: none;
    background: none;
}

.mobile-footer__totop:hover,
.mobile-footer__totop:active {
    cursor: pointer;
    text-decoration: none;
}

.mobile-footer__totop img {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(29%) sepia(62%) saturate(513%) hue-rotate(121deg) brightness(101%) contrast(91%);
}

.mobile-footer__menu {
    display: flex;
    flex-direction: column;

    padding: calc(var(--content-gutter) / 3);

    /*border-top: 1px solid var(--verdant-green);*/
    background: var(--yellow-background);

    list-style: none;
}

.mobile-footer__menu li {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 20px;
}

.mobile-footer__menu li a {
    color: var(--verdant-green);
    font-size: var(--fs-small);
    line-height: var(--lh-small);
}


.mobile-footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: calc(var(--content-gutter) / 3) var(--content-gutter);

    background-color: var(--eco-emerald);
}

.mobile-footer__logo > img {
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.mobile-footer__logo:hover > img {
    opacity: 0.8;
    cursor: pointer;
}

.mobile-footer__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .25rem;

    padding: calc(var(--content-gutter) / 2);
    background-color: var(--eco-emerald);
}

.mobile-footer__socials {
    color: white;
    font-size: var(--fs-small);
    line-height: var(--lh-small);
    /*border-top: 1px solid var(--verdant-green);*/
}

.mobile-footer__socials a:hover {
    cursor: pointer;
}

.mobile-footer__credits {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: calc(var(--content-gutter) / 2);

    background-color: var(--eco-emerald);

    color: white;
    font-size: var(--fs-small);
    line-height: var(--lh-small);
    text-align: center;
}




@media only screen and (max-width: 40rem) {
    .footer {
        display: none;
    }

    .mobile-footer {
        display: flex;
    }
}