/* interactive_map.css */
/* CSS for an interactive a page which content is about an interactive map */

/* ================================================================================================================== */
/* Style for the Interactive Map Display                                                                              */
/* ================================================================================================================== */

.interactive-map {
    width: 100%;
}

.interactive-map > h1,
.interactive-map > h2,
.interactive-map > h3,
.interactive-map > h4,
.interactive-map > h5,
.interactive-map > h6 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 700;
    border-bottom: 2px solid var(--verdant-green);
}

.interactive-map .map-render {
    height: 100%;
    width: 100%;
}

.interactive-map a.fullscreen-link {
    margin-top:0.66em;
    border: none;
    background: none;

    display: flex;
    text-decoration: none;

    /* Adjust the fonts */
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: black;
    text-align: justify; /* Align the text */
    line-height: 1.5; /* Adjust line height */
    letter-spacing: 1px; /* Adjust space between letters */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); /* Add text shadow */
}

.interactive-map a.fullscreen-link:hover {
    color: var(--verdant-green);
}

/* Used for the placeholder image */
.interactive-map > img.placeholder {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    overflow: hidden;
}
