/* organization_list.css */

/* Card Container */
.org-card-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.org-card-row {
    display: flex;
}

.org-card-col {
    display: inline-block;
    vertical-align: top;
}

@media (min-width: 1280px) {
    .org-card-col {
        flex: 0 0 33.3333333%;
        max-width: 33.3333333%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.org-card-item {
    position: relative;
    margin: 10px 10px 40px;
    border-radius: 20px;
    background: #4bb166;
    color: #ffffff;
    transition: all .8s;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    align-content: center;

}

.org-card-item-socials {

}

.org-card-item-socials a {
    color: #ffffff;
    text-decoration: none;
}

.org-card-item-socials a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.org-card-item-social-link {
    color: #fff;
    display: inline-block;
    margin-right: 7px;
    text-decoration: none;
}

.org-card-item-thumbnail {
    border-radius: 0 0 20px 20px; /* Matches the border radius of the item */
    object-fit: cover;
    overflow: hidden;
}

.org-card-item-thumbnail img {
    max-width: 100%;
    height: auto;
}


/* Social Media Icons */
.org-card-item-social-facebook img {
    left: 0px;
    width: 46px;
    background: url(/static/images/icons/social-icons.svg) 0 0;
}