/* search.css */
/* A CSS file for the search template. */

/* ================================================================================================================== */
/* General                                                                                                            */
/* ================================================================================================================== */

/* class to hide labels used for accessibility */
label.--hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

/* ================================================================================================================== */
/* Header of the search section                                                                                       */
/* ================================================================================================================== */

.search-header {
    display: block;
    width: 100%;
    background: linear-gradient(90deg, var(--verdant-green), var(--eco-emerald));
}

.search-header__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    min-height: 240px;
    padding: 20px 0;
    margin: 0 auto;
    color: white;
}

.search-header__title h1,
.search-header__title h2,
.search-header__title h3,
.search-header__title h4,
.search-header__title h5 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 800;
    color: white;
}

.search-header__form__container {
    display: flex;
    width: 75%;
    margin: 0 auto;
    border: 1px solid black;
}

.search-header__form {
    padding: 40px 12.5%;
    display: flex;
    align-items: stretch;
    background: var(--verdant-green);
}

.search-header__form__select {
    flex: 0;
}

.search-header__form__select select {
    -webkit-appearance: none;
    height: 100%;
    padding: 5px;
    border-radius: 0;
    border-right:  0;
    border-top:    2px solid white;
    border-left:   2px solid white;
    border-bottom: 2px solid white;
    background-color: transparent;
    font-size: 1rem;
    color: white;
}

.search-header__form__input {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.search-header__form__input:focus-within {
    outline: 2px solid var(--eco-emerald);
}

.search-header__form__input input {
    -webkit-appearance: none;
    flex: 1;
    padding: 5px;
    border-top:    2px solid white;
    border-left:   2px solid white;
    border-bottom: 2px solid white;
    border-right: 0;
    color: white;
    font-size: 1rem;
    background-color: transparent;
}

.search-header__form__input input::placeholder {
    color: white;
}

/* Removed, as handled by parent */
.search-header__form__input input:focus {
    outline: none;
}

.search-header__form__input button {
    -webkit-appearance: none;
    display: block;
    width: 2rem;
    padding: 3px;
    border: 2px solid white;
    border-left: 0;
    background-color: transparent;
}


.search-header__form__input button img {
    height: auto;
    width: 100%;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(6170%) hue-rotate(13deg) brightness(107%) contrast(102%);
}


@media only screen and (max-width: 40rem) {
    .search-header__title h1,
    .search-header__title h2,
    .search-header__title h3,
    .search-header__title h4,
    .search-header__title h5 {
        text-align: center;
    }
}

/* ================================================================================================================== */
/* Search Results                                                                                                     */
/* ================================================================================================================== */

.search-result__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: min(calc(100% - 2*var(--gutter-x)), var(--content-max-width));
    margin: 80px auto;
    list-style: none;
}

.search-result__grid__item {
    display: block;
    padding: 1rem;
}

.search-result__grid__item li {
    width: max-content;
}

@media only screen and (min-width: 40rem) and (max-width: 60rem) {
    .search-result__grid {
        width: calc(100% - 2*var(--gutter-x));
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
}

@media only screen and (max-width: 40rem) {
    .search-result__grid {
        width: calc(100% - 2*var(--gutter-x));
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
}

/* ================================================================================================================== */
/* Search Results Item - Article
/* ================================================================================================================== */

.search-result__article {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    width: calc(var(--content-max-width) / 3.334);
    background: var(--eco-emerald);
    border-radius: 15px;
    padding-bottom: 15px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: all .1s ease-in-out;
}

.search-result__article:hover {
    transform: translateY(-5px);
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    cursor: pointer;
}

.article-metadata {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 var(--gutter-x);
}

.article-metadata__author {
    display: flex;
    align-items: center;
    gap: 4px;
    height: 24px;
    width: max-content;
    color: white;
}

.article-metadata__author:not(:first-child)::before {
    display: inline-block;
    content: "·";
    margin: 0 5px;
    color: white;
}

.article-metadata__author span {
    font-size: 12px;
    line-height: 12px;
}

.article-metadata__author img {
    object-fit: contain;
    border-radius: 50%;
    height: 24px;
    width: 24px;
}

.article-metadata__dates {
    display: flex;
    height: 25px;
    color: white;
}

.search-result__article h1,
.search-result__article h2,
.search-result__article h3,
.search-result__article h4,
.search-result__article h5 {
    margin: 0;
    padding: 0 var(--gutter-x);
    color: white;
    font-size: var(--fs-h4);
    line-height: var(--lh-h4);
}

/* ================================================================================================================== */
/* Search Results Item - Theme
/* ================================================================================================================== */


.search-result__theme {
    position: relative; /* important for the nested anchors to work properly */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    height: 100%;
    min-height: 300px;
    width: calc(var(--content-max-width) / 3.334);
    padding: var(--content-gutter) calc(var(--content-gutter)/2);

    background: /* Default background */
            linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)),
            var(--theme-bkgd) no-repeat center / cover;
    border-radius: 15px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

    /* Fonts & colors */
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    text-decoration: none;

    transition: all .1s ease-in-out;
}

/* Move up the card on hover */
.search-result__theme:hover {
    transform: translateY(-5px);
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    cursor: pointer;
}

/* Anchor that spans the whole card */
.search-result__theme a.card-link {
    z-index:1;
    text-decoration: none;
}

.search-result__theme a.card-link::after {
    z-index: 1;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

/* Header of the card */
.search-result__theme h1,
.search-result__theme h2,
.search-result__theme h3,
.search-result__theme h4,
.search-result__theme h5 {
    z-index: 20;
    margin: 0;
    padding: 0;
    font-size: var(--fs-h4);
    line-height: var(--lh-h4);
    text-transform: uppercase;
}

/* Mandatory to override the usual anchor color */
.search-result__theme h1 a,
.search-result__theme h2 a,
.search-result__theme h3 a,
.search-result__theme h4 a,
.search-result__theme h5 a {
    color: white;
    font-weight: bold;
}

/* Description of the card */
.search-result__theme p {
    z-index: 20;
    margin: 0;
    padding: 0;
    font-size: var(--fs-dflt);
    line-height: var(--fs-dflt);
    font-weight: 400;
    max-width: 80%;
    text-align: justify;
}

/* ================================================================================================================== */
/* Search Results Item - Dataset
/* ================================================================================================================== */

.search-result__dataset {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: calc(var(--content-max-width)/2 - 15px);
    height: 100%;
    padding: 25px;

    border-radius: 8px;
    background: var(--verdant-green);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: all .1s ease-in-out;
}

/* On hover, the card will move up and the shadow will be more pronounced */
.search-result__dataset:hover {
    transform: translateY(-5px);
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.dataset-categories {
    display: flex;
    gap: 5px;
}

.dataset-categories__item {
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 4px;
    border-radius: 4px;
    background-color:var(--pale-aqua);
    text-decoration: none;
}

.dataset-categories__item:hover {
    background-color: white;
    text-decoration: none;
}

.dataset-categories__item > span {
    font-size: 14px;
    color: var(--verdant-green);
}

.dataset-categories__more {
    position: relative;
}

/* Display the list of categories when the button is clicked, and rotate the arrow */
.dataset-categories__more.--show .dataset-categories__more__list {display: flex;}
.dataset-categories__more.--show .dataset-categories__more__button img {transform: rotateX(180deg);}

.dataset-categories__more__button {
    -webkit-appearance: none;
    position: relative;
    width: 100%;
    padding: 4px;
    border: 0;
    border-radius: 4px;
    background-color:var(--pale-aqua);
    font-size: 14px;
    color: var(--verdant-green);
    text-decoration: none;
}

.dataset-categories__more__button:hover {
    background-color: #ccc;
}

.dataset-categories__more__list {
    display: none;
    width: max-content;
    flex-direction: column;
    position: absolute;
    right: 0;
    margin-top: 5px;
    border-radius: 4px;
    background-color: var(--pale-aqua);
}

.dataset-categories__more__list a {
    width: 100%;
    margin: 0;
    background-color: transparent;
}

.dataset-categories__more__list a+a {
    margin: 0;
}

.dataset-title h1,
.dataset-title h2,
.dataset-title h3,
.dataset-title h4,
.dataset-title h5 {
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
    font-size: var(--fs-h3);
    line-height: var(--lh-h3);
    font-weight: bolder;
    text-decoration: none;
}

.dataset-title:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.dataset-description {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.dataset-description:hover {
    text-decoration: none;
}

.dataset-description img {
    height: 10rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border: 1px solid var(--teal-shadow);
    border-radius: 8px;
}

.dataset-description span {
    margin: 0 0 0 calc(var(--gutter-x) * .5);
    color: white;
    font-size:14px;
    line-height: 1rem;
    vertical-align: middle;
    word-break: break-word;
}

@media only screen and (max-width: 40rem) {
    .search-result__dataset {
        width: 100%;
    }

    .dataset-categories {
        justify-content: center;
    }

    .dataset-title {
        text-align: center;
    }

    .dataset-description {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .dataset-description img {
        width: 66.667%;
        height: auto;
    }

    .dataset-description span {
        margin: 0;
        text-align: justify;
    }
}

/* ================================================================================================================== */
/* Search Results - Empty                                                                                             */
/* ================================================================================================================== */

.search-result__empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width:100%;
    height:500px;

    font-weight: 800;
    color: var(--verdant-green);
}

.search-result__empty > h1,
.search-result__empty > h2,
.search-result__empty > h3,
.search-result__empty > h4,
.search-result__empty > h5 {
    margin: 0;
}