/* font-import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* ================================================================================================================== */
/* Variables */
/* ================================================================================================================== */

:root{
    --deep-sea-blue: #0F292F;
    --teal-shadow: #0E4344;
    --verdant-green: #166A5D;
    --eco-emerald: #4BB166;
    --meadow-glow: #BFEF56;
    --pale-aqua: #e8f0ef;

    --topbar-height: 60px;
    --footer-height: 60px;
    --max-text-width: 1200px;
}

/* ================================================================================================================== */
/* Global styles */
/* ================================================================================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 18px;
    line-height: 25px;
}

body, .article {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    line-height: 1.3888889rem;
}

h1, .h1 {
    font-weight: 700;
    font-size: 4.2222222rem;
    line-height: 5.5555556rem;
    margin-top: 1.3888889rem;
    margin-bottom: 2.7777778rem;
}

h2, .h2 {
    font-size: 2.6111111rem;
    line-height: 2.7777778rem;
    margin-top: 1.3888889rem;
    margin-bottom: 1.3888889rem;
}

h3, .h3 {
    font-size: 1.6111111rem;
    line-height: 2.7777778rem;
    margin-top: 1.3888889rem;
    margin-bottom: 0;
}

h4, .h4 {
    font-size: 1rem;
    line-height: 1.3888889rem;
    margin-top: 1.3888889rem;
    margin-bottom: 0;
}

h5, .h5 {
    font-size: 1rem;
    line-height: 1.3888889rem;
    margin-top: 1.3888889rem;
    margin-bottom: 0;
}

p, ul, ol, pre, table, blockquote {
    margin-top: 0;
    margin-bottom: 1.3888889rem;
}

ul ul, ol ol, ul ol, ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

/* Let's make sure all's aligned */
hr, .hr {
    border: 1px solid;
    margin: -1px 0;
}

b, i, strong, em, small, code {
    line-height: 0;
}

sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ----- Links ----- */

a {
    line-height: 0;
    color: var(--eco-emerald);
    text-decoration: none;
    transition-property: color, text-decoration;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

a:hover {
    color: var(--meadow-glow);
    text-decoration: underline;
}

a:visited {
  text-decoration: none;
}


/* ================================================================================================================== */
/* Anchor links button styles                                                                                         */
/* ================================================================================================================== */

a.btn-white-large {
    display: inline-block;
    text-decoration: none;
    color: var(--verdant-green);
    background-color: #fff;
    border-radius: 4px;
    font-size: 1.2rem;
    padding: 1.5rem 2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

a.btn-white-large:hover {
    background-color: var(--verdant-green);
    color: #fff;
}