/* font-import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* ================================================================================================================== */
/* Variables */
/* ================================================================================================================== */

:root{

    /* Font sizes and line heights */
    --fs-h1  : 4.2222222rem;
    --fs-h2  : 2.6111111rem;
    --fs-h3  : 1.6111111rem;
    --fs-h4  : 1rem;
    --fs-h5  : 1rem;
    --fs-dflt: 1rem;

    --lh-h1  : 5.5555556rem;
    --lh-h2  : 2.7777778rem;
    --lh-h3  : 2.7777778rem;
    --lh-h4  : 1.3888889rem;
    --lh-h5  : 1.3888889rem;
    --lh-dflt: 1.3888889rem;

    /* Colors */
    --deep-sea-blue: #0F292F;
    --teal-shadow: #0E4344;
    --verdant-green: #166A5D;
    --eco-emerald: #4BB166;
    --meadow-glow: #BFEF56;
    --pale-aqua: #e8f0ef;

    /* Heights and widths */
    --topbar-height: 60px;
    --footer-height: 60px;
    --content-max-width: 1200px;
    --text-max-width: 800px;

    /* Gutters */
    --content-gutter: 3.125rem;
    --gutter-x: 1.5rem;

    /* box shadow for cards */
    --box-shadow-std: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --box-shadow-hov:  0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

/* Mobile styles */
@media only screen and (max-width: 40rem) {
    :root {
        --fs-h1  : 2.11rem;
        --fs-h2  : 1.76rem;
        --fs-h3  : 1.76rem;
        --fs-h4  : 1rem;
        --fs-h5  : 1rem;
        --fs-dflt: 1rem;

        --lh-h1  : 2.7rem;
        --lh-h2  : 1.87rem;
        --lh-h3  : 1.87rem;
        --lh-h4  : 1.5rem;
        --lh-h5  : 1.5rem;
        --lh-dflt: 1.333rem;

        --content-gutter: 2rem;
        --gutter-x: 1rem;
    }
}

/* ================================================================================================================== */
/* SVG filters                                                                                                        */
/* ================================================================================================================== */

.verdant-green-filter {
    filter: brightness(0) saturate(100%) invert(28%) sepia(89%) saturate(400%) hue-rotate(121deg) brightness(95%) contrast(87%);
}

.eco-emerald-filter {
    filter: brightness(0) saturate(100%) invert(56%) sepia(30%) saturate(761%) hue-rotate(83deg) brightness(101%) contrast(88%);
}

.--filter-white {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

/* ================================================================================================================== */
/* Global styles */
/* ================================================================================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 18px;
    line-height: 25px;
}

body, .article {
    font-family: 'Lato', sans-serif;
    font-size: var(--fs-dflt);
    line-height: var(--lh-dflt);
}

h1, .h1 {
    font-weight: 700;
    font-size: var(--fs-h1);
    line-height: var(--lh-h1);
    margin-top: var(--lh-h2);
    margin-bottom: var(--lh-h1);
}

h2, .h2 {
    font-size: var(--fs-h2);
    line-height: var(--lh-h2);
    margin-top: var(--lh-h3);
    margin-bottom: var(--lh-h4);
}

h3, .h3 {
    font-size: var(--fs-h3);
    line-height: var(--lh-h3);
    margin-top: var(--lh-h3);
    margin-bottom: 0;
}

h4, .h4 {
    font-size: var(--fs-h4);
    line-height: var(--lh-h4);
    margin-top: var(--lh-h4);
    margin-bottom: 0;
}

h5, .h5 {
    font-size: var(--fs-h5);
    line-height: var(--lh-h5);
    margin-top: var(--lh-h5);
    margin-bottom: 0;
}

p, ul, ol, pre, table, blockquote {
    margin-top: 0;
    margin-bottom: 1.3888889rem;
}

ul ul, ol ol, ul ol, ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

/* Let's make sure all's aligned */
hr, .hr {
    border: 1px solid;
    margin: -1px 0;
}

b, i, strong, em, small, code {
    line-height: 0;
}

sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ----- Links ----- */

a {
    line-height: 0;
    color: var(--eco-emerald);
    text-decoration: none;
    transition-property: color, text-decoration;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

a:hover {
    color: var(--meadow-glow);
    text-decoration: underline;
}

a:visited {
  text-decoration: none;
}


/* ================================================================================================================== */
/* Anchor links button styles                                                                                         */
/* ================================================================================================================== */

a.btn-white-large {
    display: inline-block;

    padding: 1.5rem 2rem;

    border-radius: 4px;

    background-color: #fff;

    text-decoration: none;
    font-size: 1.2rem;
    color: var(--verdant-green);

    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

a.btn-white-large:disabled {
    cursor: default;
}

a.btn-white-large:hover {
    background-color: var(--verdant-green);
    color: #fff;
    cursor: pointer;
}

/* ================================================================================================================== */
/* Formatting for the main content of the page                                                                        */
/* ================================================================================================================== */

body.page {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: var(--topbar-height);
    box-sizing: border-box;
    background-color: var(--pale-aqua);
}

.header {
    position: relative;
    height: var(--topbar-height);
    overflow: hidden;
}

.main {
    position: relative;
    flex: 1 0 auto;
    width: 100%;
    min-height: calc(100vh - var(--topbar-height) - var(--footer-height));
}
