/* Navbar */

.topbar{
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    height: var(--topbar-height);
    padding-left: 10%;
    padding-right: 10%;
    z-index: 99;
    background: #ffffff;
    border-bottom: 1px solid #2d2d2d;
    justify-content: space-between;
    align-items: center;
}

.topbar-nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.topbar-nav > ul {
    margin-bottom: 0;
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topbar-nav > ul > li {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 30px;
    padding-top: 5px; /* padding to offset the bottom border */
    border-bottom: 5px solid transparent;
    transition: all 0.1s ease-in-out;
}

.topbar-nav > ul > li:hover {
    border-bottom: 5px solid #166a5d;
    transform: translateY(2px);
}

.topbar-nav > ul > li > a {
    color: var(--verdant-green);
    text-decoration: none;
}

.topbar-nav > ul > li > a > h4 {
    font-weight: 700;
    margin: 0; /* Cancel the margin from the basic style */
}

.topbar-tools {
    display:inline-block;
}

.topbar-tools-item {
    display: inline-block;
}