/* Navbar */

.topbar{
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    height: var(--topbar-height);
    padding-left: 10%;
    padding-right: 10%;
    z-index: 99;
    background: #ffffff;
    border-bottom: 1px solid #2d2d2d;
    justify-content: space-between;
    align-items: center;
}

/* ================================================================================================================== */
/* Logo                                                                                                               */
/* ================================================================================================================== */

.topbar-logo {
    flex: 1;
}

/* ================================================================================================================== */
/* Navigation                                                                                                         */
/* ================================================================================================================== */

.topbar-nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.topbar-nav > ul {
    margin-bottom: 0;
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topbar-nav > ul > li {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 30px;
    padding-top: 5px; /* padding to offset the bottom border */
    border-bottom: 5px solid transparent;
    transition: all 0.1s ease-in-out;
}

.topbar-nav > ul > li:hover {
    border-bottom: 5px solid #166a5d;
    transform: translateY(2px);
}

.topbar-nav > ul > li > a {
    color: var(--verdant-green);
    text-decoration: none;
}

.topbar-nav > ul > li > a > h4 {
    font-weight: 700;
    margin: 0; /* Cancel the margin from the basic style */
}

/* ================================================================================================================== */
/* Tools                                                                                                              */
/* ================================================================================================================== */

.topbar-tools {
    flex: 1;
    display:flex;
    justify-content: flex-end;
}


.topbar-tools a {
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
}

.topbar-tools a > img {
    /* Rezise the svg so it takes the full height of the topbar */
    height: 100%;
    display: block;

    /* Recolor the svg to the primary color : */
    filter: invert(29%) sepia(87%) saturate(390%) hue-rotate(121deg) brightness(95%) contrast(90%);

    /* Soften the transition */
    transition: all 0.1s ease-in-out;
}

.topbar-tools a > span {
    /* Hide the text when not hovered */
    display: none;

    /* Position it above the image */
    position: absolute;
    top: -17px;
    left: 50%;
    transform: translateX(-50%);

    /* ensure it takes the full width */
    width: auto;
    min-width: calc(3rem - 2px);

    /* reduce the font size */
    font-size: 0.75em;
    white-space: nowrap;

    /* Center the text */
    background-color: var(--verdant-green);
    text-transform: uppercase;
    text-align: center;
    color: white;

    /* Add a little padding */
    padding: 8px;
}
/* Add a triangle to the bottom of the tooltip */
.topbar-tools a > span::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--verdant-green);
}

/* Add a border between the tools */
.topbar-tools > a + a {
    border-left: solid black 2px;
}

/* On hover, translate it toward the bottom */
.topbar-tools a:hover > img {
    transform: translateY(10px);
}

/* On hover, show the text */
.topbar-tools a:hover > span {
    display: block;
}

/* ================================================================================================================== */
/* Hamburger                                                                                                          */
/* ================================================================================================================== */

.hamburger {
    display: none; /* Hide the hamburger by default, it will be shown on small screens */
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: 0;
    z-index: 100;

    width: 100vw;
    height: var(--topbar-height);
}

.hamburger input[type="checkbox"] {
    position: absolute;
    top: 20px;
    right: 50px;

    z-index: 1;

    height: calc(var(--topbar-height) * 0.33);
    width: calc(var(--topbar-height) * 0.40);

    opacity: 0;
    cursor: pointer;
}

/* ------ Hamburger topbar ------ */

.hamburger-topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: var(--topbar-height);
    width: 100%;

    margin: 0;
    padding: 0 50px;

    background-color: white;
    border-bottom: 1px solid black;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

/* ------ Hamburger button ------ */

.hamburger-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: calc(var(--topbar-height) * 0.33);
    width: calc(var(--topbar-height) * 0.40);
}

.hamburger-button__line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: var(--verdant-green);
}

.hamburger-button__line#top {
    transform-origin: 0 0;
    transition: all 0.4s ease-in-out;
}

.hamburger-button__line#middle {
    transition: all 0.2s ease-in-out;
}

.hamburger-button__line#bottom {
    transform-origin: 0 100%;
    transition: all 0.4s ease-in-out;
}

/* ------ Hamburger menu ------ */

.hamburger-menu {
    position: absolute;
    top: var(--topbar-height);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: calc(100vh - var(--topbar-height));
    width: 100%;

    margin: 0 auto;
    padding: 20px;

    background-color: rgba(255, 255, 255, 0.66);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    transform: translateX(200%);
    transition: transform 0.4s ease-in-out;
}

.hamburger-menu__item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 25px;

    border-radius: 50px;

    color: var(--verdant-green);
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-decoration: none;
    text-align: center;

    transition: all 0.1s ease-in-out;
}

.hamburger-menu__item:not(first-child){
    margin-top: 10px;
}

.hamburger-menu__item:hover, .hamburger-menu__item:active {
    color: white;
    background-color: var(--verdant-green);
    text-decoration: none;
    font-weight: bolder;
    cursor: pointer;
}

/* ================================================================================================================== */
/* Hamburger animation                                                                                                */
/* ================================================================================================================== */

.hamburger input[type="checkbox"]:checked ~ .hamburger-menu {
    transform: translateX(0);
}

.hamburger input[type="checkbox"]:checked ~ .hamburger-topbar .hamburger-button .hamburger-button__line#top {
    background: black;
    transform: rotate(45deg);
}

.hamburger input[type="checkbox"]:checked ~ .hamburger-topbar .hamburger-button .hamburger-button__line#middle {
    background: black;
    transform: scale(0);
}

.hamburger input[type="checkbox"]:checked ~ .hamburger-topbar .hamburger-button .hamburger-button__line#bottom {
    background: black;
    transform: rotate(-45deg);
}


/* ================================================================================================================== */
/* Responsive style                                                                                                   */
/* ================================================================================================================== */


/* max-width 1024px */
@media only screen and (max-width: 1024px) {

    /* Disable the desktop topbar */
    .topbar {
        display: none;
    }

    /* Show the hamburger */
    .hamburger {
        display: flex;
    }
}
