{% load static %}
<!-- themes_list.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Listes des Thématiques</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/topbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/content_header.css' %}">
    <link rel="stylesheet" href="{% static 'css/content.css' %}">
    <link rel="stylesheet" href="{% static 'css/card_list.css' %}">
</head>
<body class="page">

    <!-- Header Section -->
    {% include 'core/topbar.html' %}

    <!-- Main Content Section -->
    <main class="main">
        <div class="content">
            <div class="content-title">
                Thématiques de la Cartographie
            </div>


            <div class="content-section">
                <section class="content-section__intro">
                    <h3>Introduction</h3>
                    <div class="introduction-text">
                        <p>
                            La cartographie militante est un projet qui vise à mettre en lumière les luttes et les mobilisations
                            qui ont lieu sur le territoire de la Métropole de Metz.
                        </p>
                        <p>
                            Ces luttes sont nombreuses et variées, et nous avons choisie les organiser en thématiques afin de
                            faciliter la navigation sur la carte. Chaque thématique regroupe des luttes qui ont des points
                            communs, mais qui sont aussi très différentes les unes des autres. Nous avons choisi de ne pas
                            hiérarchiser les thématiques, car nous considérons que toutes les luttes sont importantes et
                            qu’elles méritent d’être mises en avant.
                        </p>
                        <p>
                            Ci-dessous, vous trouverez la liste des thématiques que nous avons choisies de mettre en avant.
                            Pour chaque thématique, vous trouverez une description, ainsi que les luttes qui y sont associées
                            en cliquant sur la carte de la thématique.
                        </p>
                    </div>
                </section>

                <section class="content-section__panel">
                    <h3>Ensemble des thématiques</h3>
                    <div class="card-container">
                        <div class="card-row">
                            <!-- Render a list of themes with cards linking to individual theme pages -->
                            {% for theme in thematics %}
                                <div class="card-col">
                                    <a href="{% url 'thematic_detail' theme.id %}">
                                        {% if theme.splash_img %}
                                            <div class="card thematic-card" style="--back-img: url('{{ theme.splash_img.url }}')">
                                        {% else %}
                                            <div class="card thematic-card">
                                        {% endif %}
                                            <h5>{{ theme.name }}</h5>
                                            <p>{{ theme.short_desc }}</p>
                                        </div>
                                    </a>
                                </div>
                                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                                    </div>
                                    <div class="card-row">
                                {% endif %}
                            {% endfor %}
                            </div>
                    </div>
                </section>
            </div>
        </div>
    </main>

    <!-- Footer -->
    {% include 'core/footer.html' %}
</body>
</html>
