{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Articles | CLEEB</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/topbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">

</head>
<body class="page">

    {% include 'core/topbar.html' %}
    <main class="main">
        <header class="search-header">
            <div class="search-header__title">
                <h1>Articles</h1>
            </div>
            <form class="search-header__form" action="." method="GET">
                <div class="search-header__form__select">
                    <label for="theme" class="--hidden">Theme</label>
                    <select name="theme" id="theme">
                        <option value="">Tous les thèmes</option>
                        {% for theme in themes %}
                            {% if theme == selected_theme %}
                                <option value="{{ theme.slug }}" selected>{{ theme.short_name }}</option>
                            {% else %}
                                <option value="{{ theme.slug }}">{{ theme.short_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="search-header__form__input">
                    <label for="search" class="--hidden">Rechercher un article</label>
                    {% if search %}
                        <input type="search" name="search" id="search" value="{{ search }}" placeholder="Rechercher un article par titre, auteur, ...">
                    {% else %}
                        <input type="search" name="search" id="search" placeholder="Rechercher un article par titre, auteur, ...">
                    {% endif %}
                    <button type="submit">
                        <img src="{% static 'assets/icons/search_black_24dp.svg' %}" alt="search icon"/>
                    </button>
                </div>
            </form>
        </header>
        <div class="search-result">
            {% if articles %}
                <ul class="search-result__grid">
                    {% for article in articles %}
                        <li>
                            <article class="search-result__article">
                                {% if article.cover_image %}
                                    <img class="article-cover" src="{{ article.cover_image.url }}" alt="{{ article.title }} cover"/>
                                {% else %}
                                    <img class="article-cover" src="{% static 'assets/images/placeholder/map.png' %}" alt="placeholder"/>
                                {% endif %}
                                {% if article.themes %}
                                    <ul class="article-themes">
                                        {% for theme in article.themes.all %}
                                            <li><a href="{% url 'theme' theme.slug %}">{{ theme.short_name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                <div class="article-metadata">
                                    {% for author in article.authors.all %}
                                        <div class="article-metadata__author">
                                            {% if author.picture %}
                                                <img src="{{ author.picture.url }}" alt="{{ author.display_name }} picture"/>
                                            {% endif %}
                                            <span>{{ author.display_name }}</span>
                                        </div>
                                    {% endfor %}
                                    <span class="article-metadata__date">{{ article.created_at.date }}</span>
                                </div>
                                <h1><a class="card-link" href="{% url 'article' article.slug %}">{{ article.title }}</a></h1>
                            </article>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="search-result__empty"><h2>Aucun résultat</h2></div>
            {% endif %}
        </div>
    </main>
    {% include 'core/footer.html' %}

</body>
</html>

