{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ language_code }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% trans 'Article' %}: {{ title }} | {{ site.name }}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/topbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/content.css' %}">

</head>
<body class="page">
    <!-- Header Section -->
    {% include 'core/topbar.html' %}

    <!-- Main Section -->
    <main class="main">
        <div class="content --article">
            <div class="content-title">
                {{ title }}
            </div>
            <div class="content-metadata">
                <div class="content-metadata__dates">
                    <span>{% trans "Published on" %} {{ created_at }}</span>
                </div>
                <div class="content-metadata__authors">
                    {% for author in authors %}
                        <a class="" href="{{ author.url }}">
                            <span>{{ author.display_name }}</span>
                            {% if author.picture %}
                                <img src="{{ author.picture.url }}" style="width: 24px; height: 24px" alt="">
                            {% else %}
                                <img src="{% static 'assets/icons/person.svg' %}" style="width: 24px; height: 24px" alt="">
                            {% endif %}
                        </a>
                    {% endfor %}
                </div>
            </div>
            {% if article.themes %}
                <div class="content-tags">
                    {% for theme in article.themes.all %}
                        <a href="{% url 'theme' theme.slug %}">
                            <span>{{ theme.short_name }}</span>
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
            <article class="content-article">
                {% if cover_image %}
                    <img src="{{ cover_image.url }}" alt="{{ title }} cover" class="content-article__cover">
                {% endif %}
                <div class="content-article__body">
                    {{ body | safe }}
                </div>
            </article>

            {% if attachments %}
                <article class="content-attachments">
                    <h3>{% trans "Attachments" %}</h3>
                    <ul>
                    {% for attachment in attachments %}
                        <li>
                            <span>
                                {{ attachment.name }}{% if attachment.short_description %} : {{ attachment.short_description }}{% endif %}
                            </span>
                            <a class="button" href="{% url 'files:download' attachment.slug %}">
                                <img src="{% static 'assets/icons/download_black_24dp.svg' %}" alt="{{ attachment.name }} download icon">
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </article>
            {% endif %}

        </div>
    </main>
    <!-- Footer Section -->
    {% include 'core/footer.html' %}

</body>
</html>
