{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="{{ language_code }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>404 - Page Not Found</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/topbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/errors.css' %}">

</head>
<body class="page">

{% include 'core/topbar.html' %}

<!-- Main Content Section -->
<main class="error">
    <div class="error-content">
        <h1>404</h1>
        <p>
            {% blocktranslate %}
                Hmm, it seems that this page doesn't exist... The way you got here is a mystery.<br>
                But don't worry, you can return to the homepage by clicking the button below.
            {% endblocktranslate %}
        </p>
        <a href="{% url 'home' %}" class="btn-white-large">{% trans "Go to Homepage" %}</a>
    </div>
    <span class="background-attributions">
            <a href="https://www.freepik.com/free-photo/natural-surface-with-peony-bush-foliage-copy-space_15844463.htm#query=leaves%20background&position=3&from_view=keyword&track=ais&uuid=97850ecf-093d-44a8-8c23-6040d1b88733">Image by pvproductions</a> on Freepik
        </span>
</main>

</body>
</html>
